@keyframes slidy {
  0% { left: 0%; }
  35% { left: 0%; }
  50% { left: -100%; }
  85% { left: -100%; }
  100% { left: 0%; }
}

body { 
  margin: 0;
} 
section#slider { 
  overflow: hidden;
}
section#slider figure div { 
  width: 100%; 
  float: left;
  justify-content: center;
  display: flex;
}
section#slider figure div img{ 
  height: 100%; 
} 
section#slider figure { 
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 200%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 6s slidy infinite; 
}